<div class="card">
	<div class="card-header">
		Class Header Ready Yay!!!
	</div>
  <div class="card-body">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="home-tab" ng-click="$ctrl.tabChange('client')" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cients</a>
      </li>
      <li class="nav-item">
		    <a class="nav-link" id="profile-tab" ng-click="$ctrl.tabChange('rental')" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Rentals</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="contact-tab" ng-click="$ctrl.tabChange('trailer')" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Trailers</a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <item-list title='Clients' currentTab='clients' [items]="clients"></item-list>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <item-list title="Rentals" currentTab='rentals' [items]="rentals"></item-list>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <item-list title="Trailers" currentTab='trailers' [items]="trailers"></item-list>
    </div>
      <!--<list-table title="Trailers" headers="$ctrl.trailerHeaders" item-list="$ctrl.trailers"></list-table>-->
  </div>
  <div class ="card-footer">
		<div class="row justify-content-md-left">
      <div class="col-sm-2">
				<button class="btn btn-secondary btn-block" ng-click="$ctrl.newItem()">New Item</button>
			</div>
		</div>
	</div>
</div>
