<div class="container">
	<br/>
  <div class="card">
  	<div class="card-header">
		Create Rental
	</div>
  	<div class="card-body">
  		<form name="form" novalidate>
  			<div class="form-group">
		      <label for="clientSelect">Client Renting:</label>
		      <select ng-model="$ctrl.clientId" id="clientSelect" class="form-control">
		        <option value="0">[Pick Client]</option>
		        <option ng-repeat="client in $ctrl.clients" value="{{ client.Id }}">{{ client.Name }} {{ client.Lastname }}</option>
		      </select>
		      <br/>
		      First time client?
		      <a href="" ng-click="$ctrl.createClient()">Create client</a>
		    </div>
		    <div class="form-group">
		      <label for="trailerSelect">Trailer Hired:</label>
		      <select ng-model="$ctrl.trailerReg" id="trailerSelect" class="form-control">
		        <option value="0">[Pick Trailer]</option>
		        <option ng-repeat="trailer in $ctrl.trailers" value="{{ trailer.Registration }}">{{ trailer.Registration }}</option>
		      </select>		      
		    </div>
		    <div class="form-group">
			    <div class="row">
	  				<div class="col-sm-6">
			  			<button class="btn btn-primary btn-block" ng-click="$ctrl.complete()">Complete</button>
			  		</div>
			  		<div class="col-sm-6">
			  			<button class="btn btn-secondary btn-block" ng-click="$ctrl.back()">Cancel</button>
			  		</div>
		  		</div>
		  	  </div>	    
  		</form>
  	</div>
  </div>
</div>