<div class="container">
	<br/>
  <div class="card">
  	<div class="card-header">
		Create Client
	</div>
  	<div class="card-body">
  		<form name="form" novalidate>
  			<input type="text" ng-model="$ctrl.name" ng-change="" class="form-control" placeholder="Name"/><br/>
  			<input type="text" ng-model="$ctrl.lastname" ng-change="" class="form-control" placeholder="Last name"/><br/>
  			<input type="email" ng-model="$ctrl.email" ng-change="" class="form-control" placeholder="Email"/><br/>
  			<div class="row">
  				<div class="col-sm-6">
		  			<button class="btn btn-primary btn-block" ng-click="$ctrl.createClient()">Create Client</button>
		  		</div>
		  		<div class="col-sm-6">
		  			<button class="btn btn-secondary btn-block" ng-click="$ctrl.back()">Cancel</button>
		  		</div>
	  		</div>
  		</form>
  	</div>
  </div>
</div>